.container
  .row.align-items-center
    .col-sm-4.offset-sm-4
      .mt-3
        .fade-in-up.text-center= image_tag 'cropped_sean_small.jpg', style: 'border-radius: 50%; max-width: 100%; height: auto', class: 'img-fluid'
    .col-sm-3
      .mt-3
        %p.text-center{style: 'font-size: 3em;'} Hey 👋
  %br
  .row
    .col
      %h3.mx-2.text-center I'm Sean McCord, a back-end focused developer at Amazon
  - @projects.each_slice(2) do |project_a, project_b|
    .row
      .col-md-6
        .card.mt-3
          .card-body
            %h5.card-title= project_a.name
            %p.card-text= project_a.notes
            = link_to 'GitHub', project_a.url, class: 'btn btn-outline-secondary'
      .col-md-6
        .card.mt-3
          .card-body
            %h5.card-title= project_b.name
            %p.card-text= project_b.notes
            = link_to 'GitHub', project_b.url, class: 'btn btn-outline-secondary'
