.container
  .row
    .col-sm-4.mx-auto.d-block
      .mt-3
        = image_tag 'cropped_sean_small.png', style: 'border-radius: 50%; max-width: 100%; height: auto', class: 'img-fluid'
  - @projects.each_slice(2) do |project_a, project_b|
    .row
      .col-md-6
        .card.mt-3
          .card-body
            %h5.card-title= project_a.name
            %p.card-text= project_a.notes
            = link_to 'GitHub', project_a.url, class: 'btn btn-outline-secondary'
      .col-md-6
        .card.mt-3
          .card-body
            %h5.card-title= project_b.name
            %p.card-text= project_b.notes
            = link_to 'GitHub', project_b.url, class: 'btn btn-outline-secondary'
